{% extends 'layout.html' %}

{% block links %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock links %}


{% block content %}

<!-- Content Start -->
<main>
    <div class="content">
        <section id="aboutme">
            <div class="container">

                <div class="aboutme">
                    <div class="title">
                        <h1>ABOUT ME</h1>
                        <span>ABOUT ME</span>
                    </div>

                    <div class="content-aboumtme">
                        <div class="img">
                            {% for image in images %}
                            <img src="{{image.img.url}}" alt="">
                            {% endfor %}
                        </div>
                        <div class="info">
                            {% for main_info in main_infos  %}
                            <h1>I am <span>{{main_info.name}}</span></h1>

                            <p>{{main_info.information}}</p>
                            {% endfor %}

                            <table>
                                <tbody>
                                    {% for other_info in other_infos  %}
                                    <tr>
                                        <td>{{other_info.title}}</td>
                                        <td class="info-2">{{other_info.info}}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>

                            <button>
                                {% for cv in cv %}
                                <a href="{{cv.cv.url}}" style="color: white;">Download CV</a>
                                {% endfor %}
                            </button>
                        </div>
                    </div>
                </div>

                <div class="services">
                    <div class="title">
                        <h1>SERVICES</h1>
                        <span>SERVICES</span>
                    </div>

                    <div class="content-services">
                        {% for service in services %}
                        <div class="service-box">
                            <div class="icon">
                                <i class="{{service.icon}}"></i>
                            </div>
                            <div class="title-service">{{service.title}}</div>
                            <p>{{service.subtitle}}</p>
                        </div> 
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>
<!-- Content End -->

{% endblock content %}