{% extends 'layout.html' %}

{% block links %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/about.css' %}">
<link rel="stylesheet" href="{% static 'css/blog.css' %}">
{% endblock links %}


{% block content %}
<!-- Content Start -->
<main>
    <div class="content">
        <section id="blog">
            <div class="blog">
                <div class="title">
                    <h1>BLOG</h1>
                    <span>BLOG</span>
                </div>

                <div class="blog-container">
                    {% for blog in page_obj %}
                    <div class="blog-box">
                        <a href="{{blog.get_absolute_url}}">
                            <div class="img">
                                <div class="date">{{blog.date |date:"d"}}<p>{{blog.date |date:"M"}}</p>
                                </div>
                                <img src="{{blog.img.url}}" alt="">
                            </div>
                            <h1>{{blog.title}}</h1>
                        </a>
                    </div>
                    {% endfor %}
                </div>


                <div class="pagination">
                    
                    {% if page_obj.has_previous  %}
                    <a href="?page={{ page_obj.previous_page_number }}"><i class="fas fa-chevron-left"></i></a>
                    {% endif %}
                        
                   <!--<a href="" class="active">1</a>
                    <a href="">2</a>
                    <a href="">3</a>--> 
                    {% for page in page_obj.paginator.page_range  %}
                    
                    {% if page is page_obj.number %}
                    <a href="" class="active">{{page}}</a>
                    {% else %}
                    <a href="?page={{page}}">{{page}}</a>
                    {% endif %}

                    {% endfor %}
                    
                    
                    
                    {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}"><i class="fas fa-chevron-right"></i></a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </div>
            </div>
        </section>
    </div>
</main>
<!-- Content End -->

{% endblock content %}