{% extends 'layout.html' %}

{% block links %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/about.css' %}">
<link rel="stylesheet" href="{% static 'css/blog.css' %}">
{% endblock links %}


{% block content %}
<!-- Content Start -->
<main>
    <div class="content">
        <section id="blog">
            <div class="blog">
                <div class="title">
                    <h1>BLOG</h1>
                    <span>BLOG</span>
                </div>

                <div class="blog-container">
                    {% for blog in blogs %}
                    <div class="blog-box">
                        <a href="{{blog.get_absolute_url}}">
                            <div class="img">
                                <div class="date">{{blog.date |date:"d"}}<p>{{blog.date |date:"M"}}</p>
                                </div>
                                <img src="{{blog.img.url}}" alt="">
                            </div>
                            <h1>{{blog.title}}</h1>
                        </a>
                    </div>
                    {% endfor %}
                    <!-- <div class="blog-box">
                        <a href="">
                            <div class="img">
                                <div class="date">20
                                    <p>Feb</p>
                                </div>
                                <img src="{% static 'img/blog-image-1.jpg' %}" alt="">
                            </div>
                            <h1>Markdown & Html supported blog.</h1>
                        </a>
                    </div>
                    <div class="blog-box">
                        <a href="">
                            <div class="img">
                                <div class="date">20
                                    <p>Feb</p>
                                </div>
                                <img src="{% static 'img/blog-image-1.jpg' %}" alt="">
                            </div>
                            <h1>Markdown & Html supported blog.</h1>
                        </a>
                    </div>
                    <div class="blog-box">
                        <a href="">
                            <div class="img">
                                <div class="date">20
                                    <p>Feb</p>
                                </div>
                                <img src="{% static 'img/blog-image-1.jpg' %}" alt="">
                            </div>
                            <h1>Markdown & Html supported blog.</h1>
                        </a>
                    </div>
                    <div class="blog-box">
                        <a href="">
                            <div class="img">
                                <div class="date">20
                                    <p>Feb</p>
                                </div>
                                <img src="{% static 'img/blog-image-1.jpg' %}" alt="">
                            </div>
                            <h1>Markdown & Html supported blog.</h1>
                        </a>
                    </div>
                    <div class="blog-box">
                        <a href="">
                            <div class="img">
                                <div class="date">20
                                    <p>Feb</p>
                                </div>
                                <img src="{% static 'img/blog-image-1.jpg' %}" alt="">
                            </div>
                            <h1>Markdown & Html supported blog.</h1>
                        </a>
                    </div> -->
                </div>


                <div class="pagination">
                    <a href=""><i class="fas fa-chevron-left"></i></a>
                    <a href="" class="active">1</a>
                    <a href="">2</a>
                    <a href="">3</a>
                    <a href=""><i class="fas fa-chevron-right"></i></a>
                </div>
            </div>
        </section>
    </div>
</main>
<!-- Content End -->

{% endblock content %}