{% extends 'layout.html' %}

{% block content %}
          <!-- Content Start -->
          <main class="main">
            <div class="content">
                <section id="index">
                    <div id="particles-js"></div>
                    <div class="inner">
                        <div class="main">
                            <div class="col">

                                <div class="header">
                                    <div class="text">
                                        <h1>Hi, I am <span>Safaraliyev</span></h1>
                                        <p>I am a frontend web developer. I can provide clean code and pixel perfect
                                            design.
                                            I also make website more & more interactive with web animations.</p>
                                    </div>
                                    <div class="social">
                                        <ul>
                                            <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
                                            <li><a href=""><i class="fab fa-instagram"></i></a></li>
                                            <li><a href=""><i class="fab fa-github"></i></a></li>
                                        </ul>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </main>
        <!-- Content End -->
{% endblock content %}