{% extends 'layout.html' %}

{% block links %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/about.css' %}">
<link rel="stylesheet" href="{% static 'css/blog.css' %}">
<link rel="stylesheet" href="{% static 'css/portfolio.css' %}">
{% endblock links %}


{% block content %}
<!-- Content Start -->
<main>
    <div class="content">
        <section id="portfolio">
            <div class="blog portfolio">
                <div class="title">
                    <h1>PORTFOLIO</h1>
                    <span>PORTFOLIO</span>
                </div>

                <div class="portfolio-container">
                    <div class="portfolio-box">
                        <div class="img">
                            <img src="{% static 'img/portfolio-image-1.jpg' %}" alt="">
                            <div class="icons">
                                <i class="bi bi-zoom-in"></i>
                                <i class="bi bi-link-45deg"></i>
                            </div>
                        </div>
                        <div class="p-title">
                            <a href="">
                                <h1>T-Shirt Mocukup</h1>
                            </a>
                            <p>A beatiful t-shirt backup</p>
                        </div>
                    </div>
                    <div class="portfolio-box">
                        <div class="img">
                            <img src="{% static 'img/portfolio-image-1.jpg' %}" alt="">
                            <div class="icons">
                                <i class="bi bi-zoom-in"></i>
                                <i class="bi bi-link-45deg"></i>
                            </div>
                        </div>
                        <div class="p-title">
                            <h1>T-Shirt Mocukup</h1>
                            <p>A beatiful t-shirt backup</p>
                        </div>
                    </div>
                    <div class="portfolio-box">
                        <div class="img">
                            <img src="{% static 'img/portfolio-image-1.jpg' %}" alt="">
                            <div class="icons">
                                <i class="bi bi-zoom-in"></i>
                                <i class="bi bi-link-45deg"></i>
                            </div>
                        </div>
                        <div class="p-title">
                            <h1>T-Shirt Mocukup</h1>
                            <p>A beatiful t-shirt backup</p>
                        </div>
                    </div>
                    <div class="portfolio-box">
                        <div class="img">
                            <img src="{% static 'img/portfolio-image-1.jpg' %}" alt="">
                            <div class="icons">
                                <i class="bi bi-zoom-in"></i>
                                <i class="bi bi-link-45deg"></i>
                            </div>
                        </div>
                        <div class="p-title">
                            <h1>T-Shirt Mocukup</h1>
                            <p>A beatiful t-shirt backup</p>
                        </div>
                    </div>
                    <div class="portfolio-box">
                        <div class="img">
                            <img src="{% static 'img/portfolio-image-1.jpg' %}" alt="">
                            <div class="icons">
                                <i class="bi bi-zoom-in"></i>
                                <i class="bi bi-link-45deg"></i>
                            </div>
                        </div>
                        <div class="p-title">
                            <h1>T-Shirt Mocukup</h1>
                            <p>A beatiful t-shirt backup</p>
                        </div>
                    </div>
                    <div class="portfolio-box">
                        <div class="img">
                            <img src="{% static 'img/portfolio-image-1.jpg' %}" alt="">
                            <div class="icons">
                                <i class="bi bi-zoom-in"></i>
                                <i class="bi bi-link-45deg"></i>
                            </div>
                        </div>
                        <div class="p-title">
                            <h1>T-Shirt Mocukup</h1>
                            <p>A beatiful t-shirt backup</p>
                        </div>
                    </div>
                </div>


                <div class="pagination">
                    <a href=""><i class="fas fa-chevron-left"></i></a>
                    <a href="" class="active">1</a>
                    <a href="">2</a>
                    <a href="">3</a>
                    <a href=""><i class="fas fa-chevron-right"></i></a>
                </div>
            </div>
        </section>
    </div>
</main>
<!-- Content End -->
{% endblock content %}